{% extends 'catalog/base.html' %}
{% block content %}
  <h1>Блог</h1>
  {% if user.is_authenticated and (user.is_superuser or user.groups.filter(name='Контент-менеджер').exists) %}
    <a href="{% url 'blogs:create' %}">Создать запись</a>
  {% endif %}
  <ul>
    {% for post in posts %}
      <li>
        <a href="{% url 'blogs:detail' post.pk %}">{{ post.title }}</a>
        {% if post.preview %}<img src="{{ post.preview.url }}" alt="{{ post.title }}" style="height:60px">{% endif %}
      </li>
    {% empty %}
      <li>Нет опубликованных записей</li>
    {% endfor %}
  </ul>
{% endblock %}


